# Android build outputs
/build
/app/build

# Gradle files
.gradle/
gradlew
gradlew.bat
gradle-wrapper.jar

# Local configuration files
local.properties

# IDE files
.idea/
*.iml

# Log files
*.log

# Miscellaneous
.DS_Store